*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# built application files
*.apk
*.ap_

# Java class files
*.class

# files for the dex VM
*.dex

build/
bin/
gen/
lint.xml
application/build
reports/


# Windows thumbnail db
Thumbs.db

# OSX files

# Eclipse project files
.classpath
.project

# Android Studio
.idea
/reports


# test
app/src/test/resources/cache
src/test/resources/cache

